*.bak
/vendor
/public
/wp-content/bower-asset
/wp-content/npm-asset
/wp-content/themes
/wp-content/plugins
/wp-content/uploads
/wp-content/languages
/conf/cron.d/wptpl-cron-job
wp-content/debug\.log
/.env
